div, input {
    padding: 5px;
}
input {
    margin: 5px;
}


input#api {
    width: 250px;
}
input#report {
    width: 600px;
}
input[type='submit'] {
    font-size: large;
    width: 33%;
    min-width: 400px;
}

select {
    font-size: large;
}

#infobox {
    background-color: gainsboro;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.bold {
    font-size: large;
    font-weight: bold;
}
